#w_register {
	position: fixed;
	top:-140px;
	right:0px;

	height:210px;
	overflow:hidden;

	transition:0.5s;
}
	#w_register:hover{
		/*border:1px double #fff;/**/
		padding-top:30px;
		padding-left:50px;
		top:30px;
		height:170px;
	    transition:0.2s;
	}

	#w_register .txtbox, #w_register .btn, #w_register #reg_lbl{
		float:right;
		clear:right;

		margin:5px 5px 0 0;
	}

	#w_register #reg_lbl{
		color:#eeeeee;
		text-align:right;
		padding: 10px 15px;
		width: 100px;
	}